body{
    background-color:black; 
}

div.poster{
    background-color: rgb(250, 250, 241);
    width: 75%;
}

div.small{
    font-size: 16px;
    font-family: arial;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid black;
}

div.text{
    font-family: arial;
    text-align:center;
    text-transform:uppercase;
    transition:0.5s; 
    border-top:1px solid black;
}

/* rule 1 - font size */
div.text.one{
    font-size: 100px;
}

div.text.two{
    font-size: 60px;
}

div.text.three{
    font-size: 20px;
}

/* rule 2 - color */
div.text.a{
   color: red;
}

div.text.b{
    color: blue;
}

div.text.c{
    color: rgb(255, 230, 0);
}

/* rule 3 - alignment */
div.text.x{
    text-align: center;
}

div.text.y{
    text-align:left;
}

div.text.z{
    text-align:right;
}