body{
    background-color:rgb(0, 0, 0); 
}



div.poster{
    background-color: rgb(255, 255, 255);
    width: 75%;
}

div.container{
    display: flex;
    flex-wrap: wrap;
}

@font-face{
    font-family:Avara-Bold Italiic;
    src:url('Avara-BoldItalic.woff') format('woff')
}

div.col{
    overflow: hidden;
    border-radius: -20%;
}

/* third widths */

div.w1-3{
    width: 33.333%;
}

div.w2-3{
    width: 66.666%;
}

/* half widths */

div.w1-2{
    width:50%
}

/* quater widths */

div.w1-4{
    width: 25%;
}

div.w3-4{
    width: 75%;
}

/* full widths */

div.w1-1{
    width: 100%;
}

div.small{
    font-size: 16px;
    font-family: arial;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
}

div.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    text-align:center;
    text-transform:uppercase;
    transition: 1s; 
    text-shadow: 1px 1px rgb(255, 255, 255);
}

/* rule 1 - font size */
/* div.text.one{
    font-size: 55px;
}

div.text.two{
    font-size: 50px;
}

div.text.three{
    font-size: 45px;
} */

/* rule 2 - color */
div.text.a{
    box-shadow: inset -10px -10px 10px rgb(194, 194, 194) ;
    font-size: 110px;
}

div.text.b{
    box-shadow: inset 0px 0px 20px rgb(206, 206, 206) ;
    font-size: 90px;
}

div.text.c{
    box-shadow: inset 0px 0px 0px rgb(201, 201, 201) ;
}

/* rule 3 - alignment */
/* div.text.x{
    transform: skew( 30deg,0deg);
}

div.text.y{
    transform: skew(0deg,2deg);
}

div.text.z{
    transform:skew(0deg,0deg);
} */