body{
background-color: white;
font-family: arial;
font-size: 24px;
}

img {
    width: 100%;
    border-radius: 30px;
}

/* widths */

/* third widths */

div.w1-3{
    width: 33.333%;
    padding: 10px;
}

div.w2-3{
    width: 66.666%;
    padding: 10px;
}

/* half widths */

div.w1-2{
    width:50%;
    padding: 4vw;
    margin-left: auto;
    margin-right: auto;
}

/* quater widths */

div.w1-4{
    width: 25%;
    padding: 10px;
}

div.w3-4{
    width: 75%;
    padding: 10px;
}

/* full widths */

div.w1-1{
    width: 100%;
    padding: 4vw;
    margin-left: 20vw;
    margin-right: 20vw;
}

div.w1-6{
    width: 16.6666%;
    padding: 10px;
}

div.w5-6{
    width: 83.3333%;
    padding: 20px;
}



@font-face{
    font-family:Ovo-regular;
    src:url('Ovo-Regular.woff') format('woff');
}

@font-face{
    font-family:constan;
    src:url('constan.woff') format('woff');
}


a {
    text-decoration: solid;
}

div.header a{
    color:rgb(0, 0, 0)
}

div.header :hover{
    color:darkred;
    transform: skew(-10deg);
}

div.header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    width:100%;
}

div.logo {
    font-family: Ovo-regular;
    border-bottom: 1px solid;
    font-size: 2vw;
    padding: 0.6vw;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 6%;
}

div.nav {
    font-family: Ovo-Regular;
    border-bottom: 1px solid;
    font-size: 2vw;
    padding: 0.6vw;
    margin-top: 1vw;
    margin-right: 1vw;
    margin-bottom: auto;
    word-spacing: 1.8em;
    color: rgb(0, 0, 0);
    text-align: right;
}

div.masthead{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    text-align: center;
}

div.hero-image{
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 8vw;
}

div.sub-name{
    font-size: 1.5vw;
    color: black;
    padding: 2vw;
    font-family: Ovo-regular;
    margin-top: 1vw;
}

div.hero-name{
    font-size: 5vw;
    color: black;
}

div.about {
    padding: 2vw;
    font-family: Ovo-regular;
    font-size: 2vw;
    color: black;
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 3vw;
    letter-spacing: 0.1vw;
}

div.subheader {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
    font-family: Ovo-regular;
    font-size: 4vw;
    color: black;
    line-height: 3vw;
}

div.footnotes {
    display: flex;
    flex-wrap: wrap; 
}

div.note{
    width:33.333%;
    padding:2vw;
}


div.title2 {
    font-size: 8vw;
    text-align: center;
    margin-top: 8vw;
    margin-bottom: 2vw;
    padding: -40px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5vw;
}


div.keywords {
    font-size: 40px;
    font-family: arial;
    word-spacing: -15px;
    text-align: center;
    padding-top: 15px;
}

div.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px;
}

div.item{
    width: 33.333%;
    padding: 4vw;
    margin-left: auto;
    margin-right: auto;
}

div.item-number{
    font-size: 4vw;
    padding-left: 1vw;
    font-family: times;
    color: darkred;
    display: flex;
    flex-wrap: wrap;
    font-family: Ovo-Regular;
}

div.item-name{
    font-size: 2vw;
    padding-left: 2vw;
    padding-top: 1vw;
    font-family: Arial;
    color: black;
}

div.item-subname{
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial;
    color: black;
    line-height: 1.5vw;
    font-family: arial;
}

div.item-name-pg2{
    font-size: 2vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    font-family: Arial;
    color: black;
    font-family: Ovo-regular;
}

div.featureimage{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;
    padding: 2vw;
}